@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer components {
  .glass {
    @apply bg-slate-800/40 backdrop-blur-xl border border-slate-700/50 shadow-2xl;
  }

  .glass-card {
    @apply bg-[#1e293b]/60 backdrop-blur-md border border-slate-800/50 shadow-xl transition-all duration-300;
  }

  .glass-card:hover {
    @apply bg-[#1e293b]/80 border-slate-700/50;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 640px) {
  .glass-card {
    @apply p-4 rounded-xl;
  }
}